*{
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d1cfcf; 
    border-radius: 5px;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    height:auto;
    display: flex;
}
.row{
    display: flex;
    width: 100%;
}
/*===================Sidebar section start ====================*/
.sidebar{
    width: 20%;
    position: fixed;
    height: 100vh;
    background-color: rgba(17,17,17,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    padding-top: 30px;
}
.profile-img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 50%;
}
.profile-img img{
    width: 100%;
    height: 100%;

}
.profile-data{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-data h3{
    font-size: 16px;
    padding-bottom: 6px;
}
.profile-data p{
    color: grey;
    font-size: 14px;
    text-align: center;
}
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.navbar .navlist{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
.navbar .navlist .item{
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.navbar .navlist .item:hover{
    color: rgba(220,53,69,255);
    transition: all 0.4s ease-in-out;

}
/*===========================Sidebar section end ==================================*/

.main{
    width: 80%;
    height: auto;
    margin-left: 20%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.homeBackground{
    width: 100%;
    height: 100vh;
}
.homeBackground img{
    width: 100%;
    height: 100vh;
}
.homeContent{
    position: absolute;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(11, 10, 10, 0.267);
}
.homeContent h1{
    color: white;
    font-size:54px ;
}
.homeContent h1 span{
    color:rgba(220,53,69,255);
}
.autoSlider{

}
.autoSlider p{
    font-size: 17px;
    color: white;
}
.mouseGif{
    width: 80px;
    height: 60px;
    position: relative;
    top: 30vh;
}
.mouseGif img{
    width: 100%;
    height: 100%;
}

/*========================== About section start ============================*/
.about{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
}
.about-heading{
    text-align:left;
    width: 100%;

}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
}
.content .right{
    width: 35%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0px 1px 9px 9px rgb(240, 239, 239);
}
.about .content .right .Image{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(228, 226, 226);
    overflow: hidden;
}
.about .content .right .Image img{
    width: 100%;
    height: 100%;
}

.left{
    width: 60%;
    display: flex;
    align-items: right;
    flex-direction: column;
}
.left-head-p{
    color: #dc3545;
    font-size: 23px;
}
.left h2{
    padding-top: 10px;
}
.left p:nth-child(3){
    color: grey;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1.5px solid rgb(212, 208, 208);
}
.profileData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 20px;
}
.profileData .row{
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.profileData .data-item{
    display: flex;
    width: 40%;
    align-items: center;
    box-sizing: border-box;
}
.profileData .data-item p{
    padding: 5px;
}
.profileData .data-item p:nth-child(1){
    font-size: 16px;
    font-weight: 600;
}
.about button{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    border: none;
    background-color: #dc3545;
    border-radius: 20px;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-right: 20px ;
}
.about button:hover{
    background-color: transparent;
    border: 2px solid #dc3545;
    color:  #dc3545;
    transition: all 0.4s ease-in-out;
}
/*======================== Services Section ===========================*/
.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    background-color: rgba(246, 247, 246, 255);
}

.services .about-heading {
    padding-bottom: 30px;
}

.services .about-heading h1 {
    font-size: 43px;
    font-weight: 900;
}

.services .about-heading p {
    font-size: 15px;
    padding-top: 8px;
}

.services .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.services .content .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 10px;
}

.services .content .card {
    width: 31%;
    height: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 0.5px solid rgb(227, 225, 225);
    box-shadow: 0px 4px 10px 5px rgb(229, 229, 229);
}

.services .content .card .icon {
    width: 40px;
    height: 40px;
    padding-top: 20px;
}

.services .content .card h1 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.services .content .card p {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
/*============================= Portfolio Section ========================*/
.portfolio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
}

.portfolio .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 40px;
}

.portfolio .content .portfolio-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.portfolio .content .portfolio-nav .item {
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.portfolio .content .portfolio-nav .item p {
    font-size: 14px;
    padding-bottom: 5px;
    box-sizing: border-box;
    transition: color 0.4s ease-in-out;

}

.portfolio .content .portfolio-nav .item:hover p {
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
    transition: color 0.4s ease-in-out;
}

.portfolio .content .item_listing {
    width: 100%;
}

.portfolio .content .row {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 10px;
}

.portfolio .content .card {
    width: 31%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 0.5px solid rgb(227, 225, 225);
    background-size: cover;
    overflow: hidden;
    margin-right: 20px;
   
}

.portfolio .content .card .hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    transition: ALL 0.5S ease-in-out;
    animation-delay: 0.4S;
    margin-left: -200%;
}

.portfolio .content .card .hover p:nth-child(2) {
    color: #dc3545;
    padding-top: 10px;
}

.portfolio .content .card:hover .hover {
    display: flex;
    transition: ALL 0.5S ease-in-out;
    animation-delay: 0.4S;
    margin-left: 0%;
}


/*============================================= Testimonial section start==================================*/
.testimonial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
    background-color: rgba(246, 247, 246, 255);
}
.testimonial  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 40px;
    overflow-x: scroll;
}
.testimonial .slider{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    box-sizing: border-box;
    position:relative;
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translateX(24.9%);
    transition: all 0.5s ease-in-out;
}
.testimonial  .content::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
    height: 0px;
  }

/* width */
.testimonial .slider::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
    height: 0px;
  }
  
  /* Track */
.testimonial::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.testimonial::-webkit-scrollbar-thumb {
    background: #d1cfcf; 
    border-radius: 5px;

  }
  
  /* Handle on hover */
.testimonial::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.testimonial .slider .slides{
    width: 330px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 20px;
    border: 0.5px solid rgb(215, 211, 211);
    box-shadow: 0px 5px 6px 8px rgb(231, 229, 229);
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
}

.testimonial .slider .slides .quoteIcon{
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}
.testimonial .slider .slides .quoteIcon img{
    width: 100%;
    height: 100%;
}
.testimonial .slider .slides p{
    font-size: 14px;
    color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.testimonial .slider .slides .profileAvatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: 0px 0px 8px 3px  rgb(237, 237, 237);
}
.testimonial .slider .slides .profileAvatar img{
    width: 100%;
    height: 100%;
}
.testimonial .slider .slides h3{
    font-size: 15px;
    color: rgb(70, 70, 70);
}
.testimonial .sliderController{
    width: auto;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    transform:translateY(40vh) ;
}
.testimonial .sliderController div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e4e4e4;
    cursor: pointer;
    border: 0.6px solid rgb(206, 203, 203);
    transition: all 0.4s ease-in-out;
    margin: 4px;
   
}
.testimonial .sliderController div:hover{
    background-color: #d1cfcf;
    transition: all 0.4s ease-in-out;
}
<<<<<<< HEAD




/*============================================= Contact Section Start ==================================*/
.contact{
=======
/*============================ Blog Section start =======================================*/
.blog{
>>>>>>> 66f96410530047d1448d8492edf2156527fa4592
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px;
<<<<<<< HEAD
    background-color: white;
}
.contact .content {
=======
    background-color: rgba(246, 247, 246, 255);
}
.blog .content {
>>>>>>> 66f96410530047d1448d8492edf2156527fa4592
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 40px;
<<<<<<< HEAD
    overflow-x:hidden;
}
=======
}
.blog .b-slider{
    display: flex;
    width: 100%;
    
}
>>>>>>> 66f96410530047d1448d8492edf2156527fa4592
